[tool.poetry]
name = "deckz"
version = "9.0.0"
description = "Tool to handle multiple beamer decks."
authors = ["m09 <142691+m09@users.noreply.github.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/m09/deckz"
classifiers = ["Topic :: Software Development :: Build Tools"]

[tool.poetry.dependencies]
python = "^3.6"
appdirs = "^1.4.3"
click = "^7.1.1"
coloredlogs = "^14.0"
GitPython = "^3.1.0"
Jinja2 = "^2.11.1"
PyYAML = "^5.3.1"
watchdog = "^0.10.2"
google-api-python-client = "^1.12.5"
google-auth-oauthlib = "^0.4.1"
tqdm = "^4.50.2"
pypdf2 = "^1.26.0"
colorama = "^0.4.4"
dulwich = "^0.20.11"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
flake8 = "^3.7.9"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
mypy = "^0.770"
pylint = "^2.4.4"
pytest = "^5.4.1"
"pdfminer.six" = "^20200402"
pytest-cov = "^2.8.1"

[tool.poetry.scripts]
deckz = 'deckz.cli:cli'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
