[tool.poetry]
name = "deckz"
version = "2.2.1"
description = "Tool to handle multiple beamer decks."
authors = ["m09 <142691+m09@users.noreply.github.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/m09/deckz"
classifiers = [
    "Topic :: Software Development :: Build Tools"
]

[tool.poetry.dependencies]
python = "^3.7"
appdirs = "^1.4.3"
click = "^7.1.1"
coloredlogs = "^14.0"
Jinja2 = "^2.11.1"
pygit2 = "^1.2.0"
PyYAML = "^5.3.1"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
flake8 = "^3.7.9"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
mypy = "^0.770"
pylint = "^2.4.4"
twine = "^3.1.1"
wheel = "^0.34.2"

[tool.poetry.scripts]
deckz = 'deckz.__main__:main'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
