[tool.poetry]
authors = ["m09 <142691+m09@users.noreply.github.com>"]
classifiers = ["Topic :: Software Development :: Build Tools"]
description = "Tool to handle multiple beamer decks."
homepage = "https://github.com/m09/deckz"
license = "Apache-2.0"
name = "deckz"
readme = "README.md"
version = "13.1.0"

[tool.poetry.dependencies]
GitPython = "^3.1.14"
Jinja2 = "^2.11.3"
PyYAML = "^5.4.1"
appdirs = "^1.4.4"
attrs = "^20.3.0"
google-api-python-client = "^1.12.5"
google-auth-oauthlib = "^0.4.1"
python = "^3.8"
rich = "^9.13.0"
sendgrid = "^6.6.0"
typer = {version = "^0.3.2", extras = ["all"]}
watchdog = "^0.10.2"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
flake8 = "^3.7.9"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
flake8-import-order = "^0.18.1"
mypy = "^0.770"
"pdfminer.six" = "^20200402"
pylint = "^2.4.4"
pytest = "^5.4.1"
pytest-cov = "^2.8.1"

[tool.poetry.scripts]
deckz = 'deckz.cli:main'

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
