[project]
authors = [
  {name = "m09", email = "142691+m09@users.noreply.github.com"},
]
classifiers = [
  "Topic :: Software Development :: Build Tools",
  "License :: OSI Approved :: Apache Software License",
]
dependencies = [
  "appdirs >= 1, < 2",
  "cyclopts >= 3.1.1, < 4",
  "email-validator >= 2, < 3",
  "google-api-python-client >= 2, < 3",
  "google-auth-oauthlib >= 1, < 2",
  "jinja2 >= 3, < 4",
  "matplotlib >= 3, < 4",
  "pydantic >= 2, < 3",
  "pygit2 >= 1, < 2",
  "pyyaml >= 6, < 7",
  "rich >= 13, < 14",
  "sendgrid >= 6, < 7",
  "typer >= 0.13, < 1",
  "watchdog >= 6, < 7",
]
description = "Tool to handle multiple beamer decks."
homepage = "https://github.com/mlambda/deckz"
name = "deckz"
readme = "README.md"
requires-python = ">= 3.12"
version = "22.0.1"

[dependency-groups]
dev = [
  "mkdocs",
  "mkdocs-gen-files",
  "mkdocs-literate-nav",
  "mkdocs-material",
  "mkdocstrings[python]",
  "mypy",
  "pdfminer.six",
  "pytest-cov",
  "pytest",
  "ruff",
  "types-pyyaml",
  "types-requests",
  "mkdocs-section-index>=0.3.9",
]

[project.scripts]
deckz = 'deckz.cli:main'

[tool.ruff]
target-version = "py312"

[tool.ruff.lint]
ignore = ["D1", "D203", "D213"]
preview = true
select = ["A", "B", "C", "D", "DOC", "E", "EM", "F", "N", "PIE", "PTH", "RET", "RUF", "SIM", "SLF", "UP", "W"]

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.mypy]
disallow_untyped_defs = true
ignore_missing_imports = true
strict_optional = true

[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]
