[tool.poetry]
authors = ["m09 <142691+m09@users.noreply.github.com>"]
classifiers = ["Topic :: Software Development :: Build Tools"]
description = "Tool to handle multiple beamer decks."
homepage = "https://github.com/mlambda/deckz"
license = "Apache-2.0"
name = "deckz"
readme = "README.md"
version = "20.0.0"

[tool.poetry.dependencies]
Jinja2 = "^3"
PyYAML = "^6"
appdirs = "^1.4"
email-validator = "^1.3"
google-api-python-client = "^2.63.0"
google-auth-oauthlib = "^0.4"
matplotlib = "^3"
pydantic = "^1.10"
pygit2 = "^1.11"
python = "^3.8.1"
rich = "^13"
sendgrid = "^6"
typer = "^0.7"
watchdog = "^3"

[tool.poetry.group.dev.dependencies]
black = "^23"
flake8 = "^6"
flake8-bugbear = "^23"
isort = "^5"
mkdocs = "^1"
mkdocs-gen-files = "^0.4"
mkdocs-literate-nav = "^0.6"
mkdocs-material = "^9"
mkdocstrings = {extras = ["python"], version = "^0.20.0"}
mypy = "^1"
"pdfminer.six" = "^20221105"
pylint = "^2"
pytest = "^7"
pytest-cov = "^4"
types-PyYAML = "^6"
types-requests = "^2"

[tool.poetry.scripts]
deckz = 'deckz.cli:main'

[tool.isort]
profile = "black"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]
